
    <% if (!cookies){%>
    <footer id="cookie-footer" class="overlay">
        <div>
            <label>¿Acceptas las cookies?</label>
            <div id="buttons_footer">
                <button onclick="savecookie()">accept</button>
                <button onclick="window.location.href='https://google.com';">cancel</button>
            </div>
        </div>
    </footer>
    <% } %>
    </body>
</html>