    <!--Cookies Banner START-->
    <!-- <div id="cookie-overlay" class="cookie-overlay"> -->
      <% if(!cookie) { %>  
      <div id="cookie-banner" class="cookie-banner">
          <p>This website uses cookies to improve your experience. Do you accept our cookies?</p> 
          <button id="accept-cookies" class="cookie-btn">Accept</button>
          <button id="reject-cookies" class="cookie-btn">Denied</button>
        </div>
      <!-- </div> -->
      <% } %>
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          const cookieBanner = document.getElementById('cookie-banner');
          const acceptButton = document.getElementById('accept-cookies')
          const rejectButton = document.getElementById('reject-cookies')
          <!-- const cookieOverlay = document.getElementById('cookie-overlay'); -->
  
          fetch('/check-cookies')
              .then((response) => response.json())
              .then((data) => {
                  if (!data.cookiesAccepted) {
                      cookieBanner.style.display = 'block';
                  }
              });
  
          acceptButton.addEventListener('click', () => {
              fetch('./accept-cookies', { method: 'POST' })
                  .then(() => {
                      cookieBanner.style.display = 'none';
                  })
          });
          rejectButton.addEventListener('click', () => {
              window.location.href = 'https://www.google.com';
          });
  
        });
      </script>
      <!--Cookies Banner END-->