
<% if (!cookie) { %>
<footer id="footer">
    <h1>Uso de Cookies</h1>
    <label>Nos vemos obligados a informarle del uso de cookies necesarias para que funcione esta aplicación web.</label>
    <div>
        <button id="acceptCookies">Aceptar</button>
        <button onclick="window.location.href='https://google.com'">Rechazar</button>
    </div>
</footer>
<%}%>
</body>
</html>