<%- include("header", {}) %>
<div class="container">
    <h1><%= title %></h1>
    <p>Bienvenido a <%= title %></p>
    <p>Aquí podrá encontrar la mejor manera de pasar el tiempo sin preocupaciones ni molestais algunas.</p>
    <img src="/images/KonguitosReworkFinal.png" alt="Konguitos Casino" width="750" height="475">
</div>