<%- include("header", {}) %>
<div class="container">
    <h1><%= title %></h1>
    <p>Bienvenido a la tienda <%= title %></p>
    <p>Aquí podrá encontrar los mejores embutidos y productos gastronómicos de la región.</p>
    <p>Visite <a href="/casino">nuestra tienda</a> para ver los productos que tenemos.</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUtAhK6p1pDYvfdxBns3u_n17KIF1jSkI06A&s" alt="konguito" width="750" height="475">
</div>