<%- include("header", {}) %>
<% if (role === 'User') { %>
    <h1>Albion Online: Un MMORPG de Mundo Abierto</h1>
    <section>
        <h2>¿Qué es Albion Online?</h2>
        <p><i>Albion Online</i> es un juego MMORPG (Massively Multiplayer Online Role-Playing Game) desarrollado por <b>Sandbox Interactive</b>. Es un juego de mundo abierto donde los jugadores pueden explorar, luchar, comerciar y construir su propia historia en un universo medieval de fantasía. A diferencia de muchos otros MMORPG, <i>Albion Online</i> se caracteriza por su sistema de "clase sin clases", lo que significa que puedes personalizar completamente las habilidades de tu personaje a través del equipo que elijas utilizar.</p>
    </section>
    <section>
        <h2>Características Principales</h2>
        <ul class="admin-panel">
            <li><strong>Economía en manos de los jugadores:</strong> El mercado de <i>Albion Online</i> está completamente impulsado por los jugadores. Los recursos se recolectan, procesan y venden en mercados controlados por la comunidad.</li><br>
            <li><strong>Un mundo completamente abierto:</strong> El mapa de <i>Albion Online</i> está dividido en zonas que van desde áreas tranquilas hasta zonas de PvP (jugador contra jugador), donde los jugadores pueden enfrentarse por recursos y poder.</li><br>
            <li><strong>Sistema de combate:</strong> El combate en <i>Albion Online</i> es táctico y en tiempo real. Los jugadores pueden enfrentarse en duelos, batallas masivas o incluso en eventos PvP masivos para conquistar territorios.</li><br>
            <li><strong>Construcción y personalización:</strong> Los jugadores pueden construir su propio hogar, fábricas, y talleres. Además, pueden mejorar sus equipos y estructuras a medida que avanzan.</li><br>
            <li><strong>Sistema de "clase sin clases":</strong> Los personajes no están atados a una clase fija. Los jugadores pueden elegir su equipo (armas, armaduras, etc.) y personalizar sus habilidades de acuerdo con su estilo de juego.</li>
        </ul>
    </section>
    <section>
        <h2>Importancia de Albion Online en el Mundo de los MMORPG</h2>
        <p><i>Albion Online</i> ha ganado popularidad debido a su enfoque en la economía y el sistema de combate, además de su énfasis en la interacción entre jugadores. A diferencia de otros MMORPGs tradicionales, este juego se destaca por ofrecer un mundo donde las decisiones y acciones de los jugadores tienen un impacto significativo en la jugabilidad. Si te gustan los juegos que combinan PvP, exploración y economía, <i>Albion Online</i> es una excelente opción para sumergirse en un universo dinámico y desafiante.</p>
    </section>
    <p>albion online es un mmorpg no lineal en el que escribes tu propia historia sin limitarte a seguir un camino prefijado, explora un amplio mundo abierto con cinco biomas unicos, todo cuanto hagas tendra su repercusíon en el mundo, con su economia orientada al jugador de albion los jugadores crean practicamente todo el equipo a partir de los recursos que consiguen, el equipo que llevas define quien eres, cambia de arma y armadura para pasar de caballero a mago o juego como una mezcla de ambas clases, aventurate en el mundo abierto y haz frente a los habitantes y las criaturas de albion, inicia expediciones o adentrate en mazmorras en las que encontraras enemigos aun mas dificiles, enfrentate a otros jugadores en encuentros en el mundo abierto, lucha por los territorios o por ciudades enteras en batallas tacticas, relajate en tu isla privada donde podras construir un hogar, cultivar cosechas, criar animales, unete a un gremio, todo es mejor cuando se trabaja en grupo [musica] adentrate ya en el mundo de albion y escribe tu propia historia.</p>
<% } %>
<% if (role === 'IT') { %>
    <h1>Tecnologías de la Información (IT)</h1>
    <section>
        <h2>¿Qué son las Tecnologías de la Información?</h2>
        <p>Las Tecnologías de la Información (TI o IT, por sus siglas en inglés) se refieren al uso de sistemas computacionales, redes, software y hardware para gestionar, almacenar, procesar y distribuir información. Son una parte fundamental de la vida moderna y están presentes en casi todos los aspectos de nuestras actividades cotidianas.</p>
    </section>
    <section>
        <h2>Áreas clave de las Tecnologías de la Información</h2>
        <ul class="admin-panel">
            <li><strong>Desarrollo de software:</strong> Creación de aplicaciones y programas que mejoran la eficiencia y productividad.</li><br>
            <li><strong>Redes y telecomunicaciones:</strong> Infraestructuras que permiten la comunicación y transmisión de datos a través de internet.</li><br>
            <li><strong>Ciberseguridad:</strong> Protección de sistemas y datos contra amenazas externas e intrusiones.</li><br>
            <li><strong>Big Data y análisis:</strong> Procesamiento y análisis de grandes volúmenes de datos para tomar decisiones informadas.</li><br>
            <li><strong>Cloud Computing:</strong> Uso de servidores remotos para almacenar y gestionar datos y aplicaciones, permitiendo accesibilidad desde cualquier lugar.</li>
        </ul>
    </section>
    <section>
        <h2>Importancia de IT en la sociedad moderna</h2>
        <p>Las Tecnologías de la Información no solo impulsan el progreso económico, sino que también facilitan la comunicación, el acceso a la educación y mejoran la eficiencia en todos los sectores. Desde la medicina hasta la educación, pasando por el entretenimiento y la política, el impacto de IT es innegable.</p>
    </section>
<% } %>
<% if (role === 'Admin') { %>
    <h1>Panel de Administrador</h1>
    <section>
        <h2>¿Qué es un Panel de Administrador?</h2>
        <p>Un <b>Panel de Administrador</b> es una herramienta que permite a los administradores gestionar y supervisar las funcionalidades de un sistema o aplicación. Es una interfaz diseñada para simplificar tareas como la gestión de usuarios, la visualización de datos, el mantenimiento de contenido y el control de configuraciones del sistema.</p>
    </section>
    <section>
        <h2>Funciones Clave de un Panel de Administrador</h2>
        <ul class="admin-panel">
            <li><strong>Gestión de Usuarios:</strong> Crear, editar, suspender o eliminar cuentas de usuario. También incluye el control de permisos y roles.</li><br>
            <li><strong>Control de Contenido:</strong> Supervisar y administrar el contenido dentro del sistema, como publicaciones, comentarios, imágenes y más.</li><br>
            <li><strong>Visualización de Datos:</strong> Acceso a estadísticas y reportes para el análisis de rendimiento, actividad del sistema y otros indicadores clave.</li><br>
            <li><strong>Configuración del Sistema:</strong> Ajustar configuraciones globales como la seguridad, accesos, integraciones y personalización del sistema.</li><br>
            <li><strong>Notificaciones:</strong> Gestionar alertas, mensajes o notificaciones para los usuarios del sistema.</li>
        </ul>
    </section>
    <section>
        <h2>Importancia de un Panel de Administrador</h2>
        <p>El Panel de Administrador es esencial para mantener el orden y la funcionalidad de cualquier sistema o plataforma. Proporciona herramientas centralizadas para realizar tareas de gestión con eficiencia y seguridad, asegurando un control total sobre las operaciones y los datos del sistema.</p>
    </section>
<% } %>
