<%- include("header", {}) %>
<h1><%= title %></h1>
<p>Welcome to Login</p>
<form action="/login" method="post">
  <label for="user">Username: </label><input type="text" name="user" id="user">
  <label for="pass">Password: </label><input type="password" name="pass" id="pass">
  <button type="submit">Submit</button>
</form>
<%- include("footer", {}) %>